* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

header {
    height: 40px;
}

.nav-left {
    float: left;
    margin: 10px;
}

.nav-left li {
    display: inline;
    margin-left: 16px;
}

.nav-right {
    float: right;
    margin: 10px;
}

.nav-right li {
    display: inline;
    margin-right: 16px;
}

.nav-left a, .nav-right a {
    text-decoration: none;
}

main {
    text-align: center;
}

.main-logo {
    display: block;
    margin: 120px auto 0 auto;
}

.search-bar {
    display: block;
    margin: 20px auto 0  auto;
    height: 40px;
    width: 500px;
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    box-shadow: 1px 1px 1px 1px #dbdbdb;
}

.button-wrapper {
    margin-top: 30px;
}

.btn {
    padding: 10px 20px;
    background-color: rgba(231, 231, 231, 0.6);
    border: none;
}

.btn-lucky {
    margin-left: 6px;
}
